/* Based on Stable Baselines 3 theme
*  https://github.com/DLR-RM/stable-baselines3/
* */
:root {
    --main-bg-color: #B6C8DB;
    --link-color: #6DB59F;
    --font-family-headers: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    --font-family-body: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

/* Header fonts */
h1,
h2,
h3,
h4,
h5,
h6,
.rst-content .toctree-wrapper p.caption,
legend,
p.caption {
    font-weight: bold;
    font-family: var(--font-family-headers);
}

/* Body text */
body {
    font-family: var(--font-family-body);
    line-height: 1.6;
}

/* Docs background */
.wy-side-nav-search,
.wy-nav-top {
    background-color: var(--main-bg-color);
}


/* Link colors */
a {
    color: #5CA982;
}

a:hover,
.wy-menu a:hover {
    color: #507C6A;
}

.wy-menu a,
a.icon.icon-home {
    color: var(--link-color);
}

.version {
    color: var(--link-color) !important;
}


.wy-menu a:hover {
    text-decoration: underline;
    /* Adding underline on hover for better visibility */
}


/* Code blocks */
.codeblock,
pre.literal-block,
.rst-content .literal-block,
.rst-content pre.literal-block,
div[class^='highlight'] {
    background: #F0F0F0;
    border-left: 3px solid var(--link-color);
    padding: 0.5em;
}

/* Docstrings */
.field-list .xref.py.docutils,
.field-list code.docutils,
.field-list .docutils.literal.notranslate {
    background-color: #E9F5F5;
    border-radius: 5px;
    padding: 2px 4px;
    color: #333333;
}